
<div class="row container-fluid" *ngIf="content">
    <header  class="card-title">{{ content.title }}</header>

 

    <div class="card-body">
     <p class="card-text" *ngIf="content.body">{{ content.body }}</p>    
      <p class="card-text">{{ content.author }}</p>
      <p class="card-text" appHighlightImportantData ="typestyle">{{ content.type }}</p>
      <p class="card-text" *ngIf="content.hashtags.length">
        <span
          *ngFor="let tag of content.hashtags"
          class=""
          style="margin-left: 5px"
          appHighlightImportantData="tagstyle"  colour="violet">{{ tag }}</span>
      </p>
    </div>
</div>

<a routerLink="/list">list</a>