img {
    width: 200px;
    height: 200px;
}

.card-body {
    padding: 10px;
}
.row{
    width: 500px;
    height: 500px;
}
.light {
    background-color: lightgray;
}

.white {
    background-color: white;
}

.found{
    border: 10px solid brown !important;
}
.typestyle{
    border: 2px solid;
}
.tagstyle{
    color:blue;
}